<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>陳彥霖的基本介紹</title>

  <style type="text/css">
    * { 
      font-family: "標楷體"; }

    header { 
      font-size: 36px;
      color: green; }

    .col-lg-4 {
      border: 1px solid; }

  </style>

  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>
  <nav class="navbar navbar-expand-md bg-danger navbar-dark">
  <a class="navbar-brand" href="#">MENU</a>

  
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#aboutme">關於我</a></li>
      <li class="nav-item"><a class="nav-link" href="#pucture">喜歡照片</a></li>
      <li class="nav-item"><a class="nav-link" href="#youtube">推薦影片</a></li>
    </ul>
  </div>
  </nav>

  <main class="container-fluid bg-secondary text-white text-center">

    <nav>
      
        <h1 target="_blank" id="I">陳彥霖 (Yan-Lin Chen)</a></h1>
      <h2><a class=" id="PU>靜宜大學</a>
       <a  id="CSIM">資訊管理學系</a></h2>
       <br>
    </nav>

    

    <div class="row">
      <session id="aboutme" class="col-lg-4">
        <header><a class="text-reset text-decoration-none bg-white">關於我</header>
        <h3><font color="lightpink">系級：</font>資訊管理學系二A</h3>
        <h3><font color="lightpink">學號:</font> 411146570</h3>
        <h3><a href="mailto:s1100381@gm.pu.edu.tw" class="text-reset text-decoration-none text-black "><font color="lightpink">E-Mail:</font>s1114657@pu.edu.tw<br></a></h3>

      </session>

      <article id="bookmark" class="col-lg-4">
        <header><a class="text-reset text-decoration-none bg-white">喜歡照片</header> 
        <img src="static/pic.jpg" width="100%"></img>
      </article>
      
      <aside id="youtube" class="col-lg-4">
        <header><a class="text-reset text-decoration-none bg-light">推薦歌曲</header>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/v=kTJczUoc26U&list=RDkTJczUoc26U&start_radio=1&ab_channel=TheKidLAROIVEVO" allowfullscreen></iframe>
</iframe>
        </div>
      </aside>
    </div><br><br>
    
    <footer>
      
    </footer>
    
  </main>
</body>
</html>