<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS相關工作介紹</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 30px;
			color: red; }

		.col-lg-4 {
			border: 1px solid; }

	</style>

	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<script>
		
	</script>


</head>
<body>
	<nav class="navbar navbar-expand-md bg-warning navbar-light">
	<a class="navbar-brand" href="#">選單</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#COMPANY">公司資訊</a></li>
			<li class="nav-item"><a class="nav-link" href="#worker">職務介紹</a></li>
			<li class="nav-item"><a class="nav-link" href="#need">工作條件需求</a></li>
		</ul>
	</div>
	</nav>

	<main class="container-fluid bg-dark text-white text-center">

		<nav>
			<h1><a href="" id="COMPANY">漁人町創意國際有限公司  </a></h1>
		</nav>

		
		<br><br><br>

		<div class="row">
			<session id="COMPANY" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">公司資訊</header>
				<h3>公司名：漁人町創意國際有限公司 <br>
				地址：台中市南屯區環中路四段2號 <br>
				<h3>公司介紹：</h3>
				<h4>漁人町創意國際是一間創意企劃公司，
					內部過去累積十年各式的創意設計案，
					完成了許多企業、政府等機構的專案。<br>
					</h4>
			</session>

			<article id="worker" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">職務介紹</header> 
				<h3>MIS程式設計師<br>
			</article>
			
			<aside id="need" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">
				工作條件需求</a></header>
				<h3>工作經歷：</h3><h4>無經驗可，1年以上尤佳</h4>
				<h3>學歷要求：</h3><h4>專科、大學、碩士</h4>
				<h3>科系要求：</h3><h4>資訊工程相關</h4>
				<h3>語文條件：</h3><h4>英文 -- 聽 /略懂、說 /略懂、讀 /略懂、寫 /略懂
				台語 -- 略懂</h4>
				<h3>具備能力：</h3><h4>GCP、Linux、MySql、Python</h4>
			</aside>
		</div><br><br>
		
		<footer>
		</footer>
		
	</main>
</body>
</html>